.CenterView {
	grid-area: main-view;
}

.PlaylistHeader {
	height: 30vh;
	max-height: 500px;
	min-height: 340px;
	display: flex;
	padding: 0 1.5rem 1.5rem;
	position: relative;
}

.PlaylistImageContainer {
	height: 240px;
	min-width: 240px;
	width: 240px;
	align-self: flex-end;
	position: relative;
	margin-right: 1.5rem;
}

.PlaylistImage {
	box-shadow: 0 4px 60px rgba(0 0 0 / 50%);
}

.PlaylistTitle {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: left;
	width: 100%;
	word-break: break-word;
}

.PlaylistTitle h1 {
	font-family: 'Metropolis Bold';
	font-weight: 700;
	line-height: 1;
	font-size: clamp(48px, 6vw, 96px);
	line-height: clamp(48px, 6vw, 96px);
}

.PlaylistDesc {
	font-family: 'Metropolis Regular';
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-break: break-word;
	display: -webkit-box;
	overflow: hidden;
}
