.LayoutContainer {
	width: 100%;
	height: 100vh;
	min-height: 100%;
	background-color: #121212;
	display: grid;
	grid-template-areas: 'sidebar main-view' 'player player';
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
}
